[submodule "bundle/rails"]
	path = bundle/rails
	url = https://github.com/tpope/vim-rails.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/textobj"]
	path = bundle/textobj
	url = https://github.com/kana/vim-textobj-user.git
[submodule "bundle/rubyblock"]
	path = bundle/rubyblock
	url = https://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/autoclose"]
	path = bundle/autoclose
	url = https://github.com/Townk/vim-autoclose.git
[submodule "bundle/vimerl"]
	path = bundle/vimerl
	url = https://github.com/jimenezrick/vimerl.git
[submodule "bundle/vim-classpath"]
	path = bundle/vim-classpath
	url = git://github.com/tpope/vim-classpath.git
[submodule "bundle/vim-clojure-static"]
	path = bundle/vim-clojure-static
	url = git://github.com/guns/vim-clojure-static.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "bundle/vim-fireplace"]
	path = bundle/vim-fireplace
	url = git://github.com/tpope/vim-fireplace.git
[submodule "bundle/vim-classpath.git"]
	path = bundle/vim-classpath.git
	url = git://github.com/tpope/vim-classpath.git
[submodule "bundle/paredit"]
	path = bundle/paredit
	url = https://github.com/vim-scripts/paredit.vim
[submodule "bundle/rainbow_parentheses"]
	path = bundle/rainbow_parentheses
	url = https://github.com/kien/rainbow_parentheses.vim.git
